---
const { t, lang } = Astro.props;
---

<section>
  <h2 class="text-2xl font-bold mb-4">Sobre mí</h2>
  <p class="text-left text-base text-gray-200 leading-relaxed">
    {t('about.about')}
  </p>
</section>
