---
const { t, lang } = Astro.props;
---

<section>
  <h2 class="text-2xl font-bold mb-4">{t('certs.title')}</h2>
  <ul class="list-disc list-inside text-base text-gray-200 space-y-1" set:html={t('certs.list')}></ul>
</section> 