---
const { t, lang } = Astro.props;
---

<section>
  <h2 class="text-2xl font-bold mb-4">Proyectos</h2>
  <div class="mb-8">
    <h3 class="font-bold text-lg">Aura Series API</h3>
    <p class="text-gray-200 text-base leading-relaxed">API para Aura Series, una plataforma social para compartir y descubrir nuevas series, con búsqueda y recomendaciones. <span class='italic'>NestJS & Neo4J, Mailing, Autenticación</span></p>
  </div>
  <div class="mb-8">
    <h3 class="font-bold text-lg">Blog Personal</h3>
    <p class="text-gray-200 text-base leading-relaxed">Blog donde comparto experiencias y conocimientos sobre desarrollo web, productividad y más. <a href="https://github.com/ingcapadev/blog" target="_blank" class="text-accent underline">GitHub</a></p>
  </div>
  <div class="mb-8">
    <h3 class="font-bold text-lg">JB Baseball Game</h3>
    <p class="text-gray-200 text-base leading-relaxed">Simulador de béisbol para registrar jugadas y estadísticas. <span class='italic'>React, Redux Toolkit</span></p>
  </div>
</section> 